<%= form_for @recipe do |f| %>
    <input type="hidden" value="users[<%= current_user.id %>]" name="users[<%= current_user.id %>]">
    <% if @recipe.errors.any? %>
        <div id="error_explanation">
            <h2>There were some errors:</h2>
            <ul>
                <% @recipe.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <br>

    <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <br>

    <label>Choose a Liquor</label>
    <select id="liquor_type" name="recipe[liquor_id]">
        <option value="1">Rum</option>
        <option value="2">Tequila</option>
        <option value="3">Vodka</option>
        <option value="4">Scotch</option>
        <option value="5">Gin</option>
        <option value="6">Whiskey</option>
    </select>

    <br><br>

    <p>Please Include All Forms of Measurment in Input Fields</p>
        <p>Example: "Prefered type of Liquor" 2 fluid oz</p>
        

    <%= f.fields_for :ingredients do |ingredient| %>
        <div class="field">
            <%= ingredient.label :ingredient_name %>
            <%= ingredient.text_field :name %>
        </div>

        <div class="field">
            <%= ingredient.label :quantity %>
            <%= ingredient.text_field :quantity %>
        </div>
    <% end %>

    <br><br>

    <%= f.submit "Finish Recipe" %>
  
<% end %>

<p><small>Note* Not all fields need to be filled!</small></p>