<div class="nested-fields">
    <div class="field">
        <%= f.label :ingredient_name %>
        <%= f.text_field :name %>
    </div>
    
    <div class="field">
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
    </div>
    
    <%= link_to_remove_association "Remove Ingredient", f %>
</div>