<div class="content-box">
    <h1><%= @recipe.name %></h1>
        <% @recipe.ingredients.each do |i| %>
            <li><%= "#{i.name}, #{i.quantity}" %></li>
        <% end %>
    
        <br>
    
        <%= @recipe.description %>
    
        <br><br>
        <% if !@dms.empty? %>
    
            <%= form_tag("/recipes/#{@recipe.id}/add_to_drink_mix", method: :post) do %>
                <%= collection_select :drink_mix, :id, DrinkMix.all, :id, :name %>  
    
                <br><br>
                <%= label_tag :rank, "Rank This Recipe in Your DrinkMix:"%>
                <%= number_field_tag :rank %>
    
                <br><br>
                
                <%= submit_tag "Add to Selected DrinkMix" %>
            <% end %>

        <% end %> <!-- End If Statement -->
    
        -----------------------------------
        <br>
    
        <button onclick="goBack()">Back</button>
    
        <br><br>
        
        <% if @recipe.users.ids.include?(current_user.id) %>
            <%= button_to "Edit Recipe", edit_liquor_recipe_path(@recipe.liquor.id, @recipe), form: {style: 'display:inline-block;'}, method: :get %>
            <%= button_to "Delete Recipe", liquor_recipe_path(@recipe.liquor.id, @recipe), form: {style: 'display:inline-block;'}, method: :delete %>
        <% end %>
        
</div>