<div class="content-box">
    <h3>You are now logged in as <%= current_user.email %></h3>
    <p> What would you like to do?</p>
    
    <br> 
    
    <%= button_to "Create Your Own Recipe", new_recipe_path, method: :get %>
    
    <br>
    
    <%= button_to "View Your Recipes", user_recipes_path(current_user.id), :form => {id: "userRecipes" }, method: :get %>
    
    <br>
    
    <%= button_to "View Your DrinkMix Playlists", user_drink_mixes_path(current_user.id), method: :get %> 
    
    <br>
    
   <%= button_to "Log Out", destroy_user_session_path, method: :get %>
</div>