<%= form_for @dm, url: user_drink_mixes_path do |f| %>
    <% if @dm.errors.any? %>
        <div id="error_explanation">
            <h2>There were some errors:</h2>
            <ul>
                <% @dm.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <br>

    <input type="hidden" value="<%= current_user.id %>" name="drink_mix[user_id]">

    <%= f.label :name %>
    <%= f.text_field :name %>

    <br><br>

    <%= f.submit "Create My Playlist" %>

<% end %>