<%= link_to "DrinkMaster", root_url, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<% if user_signed_in? %>

    <%= link_to "Rum", liquor_recipes_path(liquor_id: 1), class: "navbar-brand" %>
    <%= link_to "Tequila", liquor_recipes_path(liquor_id: 2), class: "navbar-brand" %>
    <%= link_to "Vodka", liquor_recipes_path(liquor_id: 3), class: "navbar-brand" %>
    <%= link_to "Scotch", liquor_recipes_path(liquor_id: 4), class: "navbar-brand" %>
    <%= link_to "Gin", liquor_recipes_path(liquor_id: 5), class: "navbar-brand" %>
    <%= link_to "Whiskey", liquor_recipes_path(liquor_id: 6), class: "navbar-brand" %>

<% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", root_url, class: "nav-link" %>
      </li>
        
        <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "Hello, #{current_user.email}!", user_path(current_user), class: "nav-link" %></li>
        
            <li class="nav-item"><%= link_to "Recipes", liquors_path, class: "nav-link" %></li>
        
            <li class="nav-item"><%= link_to "Log Out", destroy_user_session_path, method: :get, class: "nav-link" %></li> 
        <% else %>
            <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
        
            <li class="nav-item"><%= link_to "Sign In", new_user_session_path, class: "nav-link" %></li>
        <% end %>
        
    </ul> 
    <form class="form-inline my-2 my-lg-0" method="get" action="/recipes">
      <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>